body{
    padding-top: 25px;
}

.container {
    display: flex;
    max-width: 1440px;
    width: 50%;
    margin: auto;
    /* background-color: blueviolet; */
}

.display-container {
    /* margin-top: 10rem; */
    width: 50%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    background: #2E2D33;
    border: 1px solid;
    border-radius: 21px;
    box-shadow: 1px -5px 8px 3px #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*** SECOND SCREEN ***/

.second__screen {
    display: flex;
    width: 50%;
    border: 1px solid;
    border-radius: 21px;
    background-color: #2E2D33;
}

.logs__screen {
    width: 50%;
    border-right: 1px solid;
}

.screen__header-text, .inmemory__header-text {
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.screen__body {
    padding: 0 5%;
}

.logs__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 12px;
    /* margin: auto; */
}

.logs__column {
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
    width: 90%;
    padding: 4%;
    /* justify-content: space-around; */
    margin: auto;
    align-items: center;
}

.logs {
    color: white;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logs__index {
    text-align: left;
    color: white;
    margin-right: 10px;
}

.inmemory__screen {
    width: 50%;
}

.inmemory__header-text {
    text-align: center;
}

.inmemory {
    color: white;
    text-align: center;
}

/***** SECOND SCREEN ENDS ******/



/* FIRST SCREEN CONTINUES */
.msg-class {
    font-size: 2.2rem;
    padding-top: 1rem;
}

.cube-root {
    font-size: 1rem;
    padding-right: 15px;
}

.bigfont {
    font-size: 4rem;
}

.display-screen {
    background-color: #9BAA76;
    color: black;
    height: 5rem;
    padding-right: 3%;
    padding-top: 1rem;
    text-align: right;
    font-family: digital;
    border: 1px solid;
    border-radius: 21px;
    width: 91%;
    margin: auto;
}

.punch-keys-sect {
    margin-top: 10px;
    width: 100%;
}

.table-of-data {
    height: 20rem;
    border-collapse: separate;
    border-spacing: 15px 15px;
    width: 100%;
}

.space {
    background-color: tomato;;
}

.key {
    background-color:rgba(0,0,0,0.6);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    column-width: 200px;
    padding: 3px;
    opacity: 0.8;
}

.border-black {
    border-color: black;
    font-size: 1.1rem;
    padding: 7px;
}

.key:hover {
    opacity: 1;
}

.numkey, .percent__key {
    background-color: #58595B;
    border-color: transparent;
}

.numkey:active {
    background-color: #841F27;
}

.power{
    background-color: #841F27;
    text-align: center;
    border-color: transparent;
    font-size: 1.2rem;
    padding: 8px 0;
}

.rowsdata td {
    text-align: center;
}

.opkey {
    color: white;
}

.opkey:active {
    background-color: yellow;
  }

.equalkey {
    color: white;
    background-color: orangered;
    filter: brightness(231%);
    border-color: transparent;
}